<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929254290761-tir739jo6iebet8gouif8ir9d0t60mvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929254290761-tir739jo6iebet8gouif8ir9d0t60mvc</string>
	<key>API_KEY</key>
	<string>AIzaSyC7rXS6TDV7jOiyj1q_BhbThwxKlinWHb4</string>
	<key>GCM_SENDER_ID</key>
	<string>929254290761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodbankApp</string>
	<key>PROJECT_ID</key>
	<string>financial-managememt-app</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-managememt-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929254290761:ios:094254279175d0c3ac9698</string>
</dict>
</plist>