# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

/android/app/google-services.json
/ios/firebase_app_id_file.json
lib/firebase_options.dart
macos/firebase_app_id_file.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist